<tbody>
  <tr>
    <td>
      <%= card_master.question %>
    </td>
    <td>
      <%= card_master.answer %>
    </td>
    <td>
      <%= link_to "edit", edit_card_master_path(card_master), class: "btn btn-sm btn-success" %>
    </td>
    <td>
      <%= link_to "delete", card_master, method: :delete,
                    data: { confirm: "You sure?" }, class: "btn btn-sm btn-danger" %>
    </td>
  </tr>
</tbody>